<main class="form-signin text-center">
  <form #loginForm="ngForm" (ngSubmit)="signIn(loginForm.value)">
    <img
      class="mb-4"
      src="../../../assets/your_logo.jpg"
      alt=""
      width="144"
      height="114"
    />
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

    <div *ngIf="invalidLogin" class="alert alert-danger">
      Invalid username and/or password
    </div>
    <div class="form-floating">
      <input
        required
        ngModel
        #user="ngModel"
        name="username"
        type="text"
        class="form-control"
        id="floatingInput"
        placeholder="user"
        autofocus
      />
      <label for="floatingInput">User</label>
      <div *ngIf="user.touched && user.invalid" class="alert alert-danger">
        <div *ngIf="user.errors?.required">User is required</div>
      </div>
    </div>
    <div class="form-floating">
      <input
        required
        ngModel
        #password="ngModel"
        name="password"
        type="password"
        class="form-control"
        id="floatingPassword"
        placeholder="Password"
      />
      <label for="floatingPassword">Password</label>
      <div
        *ngIf="password.touched && password.invalid"
        class="alert alert-danger"
      >
        <div *ngIf="password.errors?.required">Password is required</div>
      </div>
    </div>

    <button
      [disabled]="loginForm.invalid"
      class="w-100 btn btn-lg btn-primary"
      type="submit"
    >
      Sign in
    </button>

    <p class="mt-5 mb-3 text-muted">&copy; 2021</p>

    <p>{{ loginForm.value | json }}</p>
  </form>
</main>
