<h2>Create a Ticket</h2>
<form #ticketForm="ngForm" (ngSubmit)="onSubmit(ticketForm.value)">
  <div class="mb-3">
    <label for="summary">Issue Summary</label>
    <textarea
      required
      minlength="10"
      ngModel
      #summary="ngModel"
      class="form-control"
      name="summary"
      id="summary"
      cols="30"
      rows="10"
    ></textarea>
    <div *ngIf="summary.touched && summary.invalid" class="alert alert-danger">
      <div *ngIf="summary.errors?.required">This field is required</div>
      <div *ngIf="summary.errors?.minlength">
        This field sould have at least
        {{ summary.errors?.minlength.requiredLength }} characters
      </div>
    </div>
  </div>
  <div *ngIf="devices.length === 1; then oneDev; else multipleDev"></div>
  <ng-template #oneDev>
    <div class="mb-3">
      <label for="deviceOnlyOne">Device</label>
      <input
        disabled
        ngModel
        #deviceOne="ngModel"
        type="text"
        id="deviceOnlyOne"
        class="form-control"
        name="device"
        [value]="inputText"
      />
    </div>
  </ng-template>
  <ng-template #multipleDev>
    <div class="mb-3">
      <label for="deviceSel">Device</label>
      <select
        required
        ngModel
        #deviceSel="ngModel"
        class="form-select"
        name="deviceSel"
        id="deviceSel"
      >
        <option value="">Select your device</option>
        <option *ngFor="let dev of devices" [value]="dev.id">
          {{ dev.name }} - {{ dev.code }}
        </option>
      </select>
      <div
        *ngIf="deviceSel.touched && deviceSel.invalid"
        class="alert alert-danger"
      >
        <div *ngIf="deviceSel.errors?.required">This field is required</div>
      </div>
    </div>
  </ng-template>

  <div class="mb-3">
    <button [disabled]="ticketForm.invalid" class="btn btn-primary">
      Send
    </button>
    <button (click)="cancel()" type="button" class="btn btn-secondary ms-2">
      Cancel
    </button>
  </div>
  <!-- <p>{{ ticketForm.value | json }}</p> -->
</form>
