<div [ngSwitch]="value">
  <span *ngSwitchCase="'Close'" class="badge rounded-pill bg-success">{{
    value
  }}</span>
  <span *ngSwitchDefault class="badge rounded-pill text-dark bg-warning">{{
    value
  }}</span>
</div>
