@import "~bootstrap/dist/css/bootstrap.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";

body {
  padding: 20px;
}

.form-control.ng-touched.ng-invalid,
.form-select.ng-touched.ng-invalid {
  border: 2px solid red;
}
