<h1>My Tickets</h1>
<div
  *ngIf="authService.isLoggedIn() && !authService.currentUser.technician"
  class="mb-3"
>
  <button (click)="create()" class="btn btn-primary">Create Ticket</button>
</div>
<div>
  <table class="table table-striped">
    <thead class="table-primary">
      <tr>
        <th width="15%" scope="col">Ticket #</th>
        <th scope="col">Issue</th>
        <th width="15%" scope="col">State</th>
        <th width="12%" scope="col">Detail</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let t of tickets">
        <th scope="row">{{ t.id }}</th>
        <td>{{ t.summary }}</td>
        <td>
          <div *ngIf="t.state">
            <ticket-state [state]="t.state"></ticket-state>
          </div>
        </td>
        <td>
          <span
            (click)="detail(t.id)"
            class="btn btn-info btn-sm"
            title="Ticket Detail"
          >
            <i class="bi bi-pencil-square"></i>
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
