body,
html {
  height: 100%;
  margin: 0;
}

.bg {
  background-image: url("src/assets/page404.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
