<nav class="navbar navbar-dark bg-primary navbar-expand-md">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" routerLink="/">Ticket System</a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            routerLinkActive="active current"
            class="nav-link"
            routerLink="/tickets"
            [queryParams]="{ page: 1, order: 'newest' }"
            >My Tickets</a
          >
        </li>
        <li
          *ngIf="authService.isLoggedIn() && authService.currentUser.admin"
          class="nav-item"
        >
          <a
            routerLinkActive="active current"
            class="nav-link"
            routerLink="/admin"
            >Admin</a
          >
        </li>
        <li *ngIf="!authService.isLoggedIn()" class="nav-item">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
        <li *ngIf="authService.isLoggedIn()" class="nav-item">
          <a class="nav-link" routerLink="/login" (click)="authService.logout()"
            >Logout</a
          >
        </li>
        <li *ngIf="authService.isLoggedIn()" class="nav-item">
          <span class="nav-link"
            >Welcome {{ authService.currentUser.name }}</span
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
