<h2>Ticket #{{ ticket.id }}</h2>
<div class="mb-3">
  <div class="card">
    <!-- <div class="card-header">Featured</div> -->
    <div class="card-body">
      <h5 class="card-title">
        Issue Summary
        <div *ngIf="ticket.state">
          <ticket-state [state]="ticket.state"></ticket-state>
        </div>
      </h5>

      <p class="card-text">
        {{ ticket.summary }}
      </p>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Responsible: {{ ticket.responsible }}</li>
        <li class="list-group-item">
          Created at: {{ ticket.date_created | date: "medium" }}
        </li>
        <li class="list-group-item">
          Updated at: {{ ticket.date_updated | date: "medium" }}
        </li>
      </ul>
    </div>
    <div class="card-body">
      <h5 class="card-title">Details</h5>
      <ol class="list-group list-group-flush list-group-numbered">
        <li *ngFor="let record of ticket.records" class="list-group-item">
          {{ record.description }}
        </li>
      </ol>
    </div>

    <div class="card-footer">{{ timeSinceCreated }} ago</div>
  </div>
</div>
<div class="mb-3">
  <button (click)="backToTickets()" class="btn btn-primary">Back</button>
</div>
